<h1>ようこそ</h1>
<p>Postsトップページです。</p>
<% if user_signed_in? %>
    <%= image_tag current_user.image.url %>
    <%= form_tag('/search', method: :get) do %>
      <div class="form-group">
        <%= text_field_tag :keyword, nil, placeholder: "Tag", class: "form-control" %>
      </div>
      <%= submit_tag "検索", class: "btn btn-default" %>
    <% end %>
    <%= link_to 'mypage', user_path(current_user) %>
    <%= link_to 'new', new_post_path %>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'サインアップ', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
<% end %>
<%= render partial: "posts/post", collection: @posts %>