postsのshowページです。
<br>
<%= @post.title %>
<%= @post.description %>
<br>
<%= image_tag @post.image %>
<%= render 'posts/tag_list', tag_list: @post.label_list %>
<div id="favorite-button">
<%= render partial: '/favorites/favorite', locals: { post: @post } %>
</div>

コメント一覧<br>
<%= render partial: '/comments/comment', locals: { post: @post } %>
<%= form_tag("/posts/#{@post.id}/comments", :method => :POST) do %>
  <div class="form-group">
    <%= text_field_tag :text, nil, placeholder: "Write a comment", class: "form-control" %>
  </div>
  <%= submit_tag "投稿", class: "btn btn-default" %>
<% end %>

